{% extends 'base.html' %}
{% block title %}
Search by pin
{% endblock title %}

{% block content %}
<form action="{% url 'searchByPinCodeResults' %}" method="post">
    {% csrf_token %}
    <input id="pincode" name="pincode" type="text" pattern="[0-9]{6}" placeholder="Enter Pincode">
    <input id="date" name="date" type="date" placeholder="dd-mm-yyyy">
    <div class="form-check">
        <input type="hidden" name="getFor7Days" value="no">
        <input class="form-check-input" type="checkbox" value="yes" id="getFor7Days" name="getFor7Days" checked>
        <label class="form-check-label" for="getfor7Days">
            Get 7 days details Calender
        </label>
    </div>
</form>
{% endblock content %}