{% extends 'base.html' %}
{% block title %}
Vaccine centers for 7 days period
{% endblock title %}

{% block content %}
centers
<table style="width:100%" class="table table-striped table-hover">
  <tr>
    <th>Center name</th>
    {% for eachday in datesofNext7days %}
      <th>{{ eachday }}</th>
    {% endfor %}
  </tr>
  {% for center in centers %}
    <tr>
      <td>{{ center.name }}</td>
      {% for eachday in datesofNext7days %}
        {% for session in center.sessions %}
          {% if session.date == eachday %}
            {% if session.available_capacity > 0%} 
              {% if Above18Only == "yes" and session.min_age_limit == 18 or Above18Only == "no" %}
              <td>
                {{ session.available_capacity}}<br>
                {{ session.min_age_limit }}<br>
              </td>
              {% endif %}
            {% else %}
              <td>
                Not Available
              </td>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </tr>
  {% endfor %}
</table> 
{% endblock content %}